
* {
  box-sizing: border-box;
}
body {
  margin: 0.6em;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtF2wwD5uzX8RznafEbsl0irm92gvwmUrI_A&usqp=CAU");
  z-index: -1;
  font-size: 1em;
}
.header{
 background-color: #0A337F;
 opacity: 90%;
 height: 12.5em;
 width: 100%;
 padding: .3em;
 background-position: url
 background-position: right top;
}
h1 {
 color: white;
 font-size: 3.75em;
 font-family: helvectic, serif; 
 font-weight: bolder;
 text-transform: uppercase; 
 vertical-align: center;
}
.header, .hide {
 color: white;
 font-size: 1.25em;
 font-family: helvectic, serif; 
 font-weight: normal;
 text-transform: none; 
}
.skills {
	min-width: 74.125em;
	margin: auto;

}
.column {
float: left;
border: .31em  white solid;
margin: .125em;
background-color: black;
color: black;
width: 30%;
}
h2 {
	text-align: center;
	height: 8%;
	margin-top: 0em;
	vertical-align: middle;
	font-variant: small-caps; 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
} 
.column, p {
	color: white;
	font-size: 1.25em;
	text-align: center;
	margin: 1em;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
	cursor: pointer;

}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
@media only screen and (min-width 1200px) {
	body{
	font-size: .5em;
}
}