<style>
img {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	
}
h1 {
	font-size: 100px;
	font-weight: bold;
	font-family: sans-serif;
	text-align: center;
	color:#5C423D;
}

.slogan {
	font-style: italic;
	color: #CC6149;
	font-size: 50px;
	text-align: center;
	font-weight: bold;
}
.joke {
	
	text-align: center;
	font-size: 30px;

}

.list {
	font-size: 25px;
	text-align: center;
	color:#CC6149;
}

ul {
	font-size: 20px;
	color: black;
	text-align: center

}
marker {
	list-style-type: none;
	color: white;
	
}
.close {
	font-size: 30px;
	text-align: center;
	color: #CC6149;
}
address {
	font-size: 20px;
	text-align: left;
}
</style>