<style>
#hero_image {
	background-image: url(mwise0829.github.io/unit_3/images/hero_image.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: -1;
}
#body {
	background-color: #FF7A5B
	text-align: center;
	color: #803D2E
	font-size:30px;

}
#title {
	font-size: 40px;
	font-weight: bold;
	font-family: sans-serif;
}
#slogan {
	font-style: italic;
	color: #805C54;
}
#list {
	font-size: 20px;
}
#ul {
	font-size: 15px;
}
#address {
	color: #FFB8A8;
}