<style>
#body {
	background-image: url("https://github.com/mwise0829/mwise0829.github.io/blob/master/unit_3/images/hero_image.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	
}
.h1 {
	font-size: 100px;
	font-weight: bold;
	font-family: sans-serif;
	text-align: center;
	color:#5C423D;
}

#slogan {
	font-style: italic;
	color: #CC6149;
	font-size: 50px;
	text-align: center;
}

#list {
	font-size: 40px;
	text-align: center;
	color:#CC6149;
}

#ul {
	font-size: 40px;
	text-align: center;
	color: #52140F;
	margin: auto;
}
#li {
	text-align: center;
}

#close {
	color: #FFB8A8;
	font-size: 50px;
	text-align: center;
	color: #CC6149;
}
#address {
	font-size: 30px;
	text-align: left;
}
</style>